body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    color: white;
    background: #131313;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 100px 20vw;
    font-size: 20px;
}

section .social-font {
    font-family: 'Kanit', sans-serif;
}

.higlight-word-color {
    color: #14131a;
}

section p {
    font-family: 'Kanit', sans-serif;
}

section h1 {
    margin-top: 200px;
    font-size: 100px;
}

section h2 {
    margin-top: 250px;
}

section h3 {
    margin-top: 0px;
    font-size: 30px;
}

section h5 {
    font-size: 30px;
    margin-top: -80px;
}

.dark {
    background: #131313;
}

.green {
    background: #009473;
}

.wavetop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    -height: 0;
}

.wavetop svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 265px;
}

.wavetop .shape-fill {
    fill: #131313;
}

.spacer {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 900/600;
}

.layer1 {
    background-image: url("layer1.svg");
}

section .my-links {
    display: inline-block;
    font-size: 100px;
    color: #fff
    
}

section .my-links:hover {
    color: #009473;
    transition: 0.5s;
}

section h4 {
    font-size: 25px;
    margin-top: -0px;
}

section .input {
    color: #009473;
}
